<div id="motd-buttons" class="navbar-text text-center">
	{{ if .NextInSection }}
	<a class="motd-link" href="{{.NextInSection.Permalink}}">
		<img id="page-previous" src="img/arrow-left.png" class="page-arrow">
	</a>
	{{ else }}
	<img id="page-previous" src="img/arrow-left.png" class="page-arrow nav-disabled">
	{{ end }}
	
	<!-- Put navigation label into <span> so it doesn't get thrown out on $().load() -->
	<span>{{ ( index $.Site.Data.translations $.Site.Params.locale ).panelNavigation }}</span>
	
	{{ if .PrevInSection }}
	<a class="motd-link" href="{{.PrevInSection.Permalink}}">
		<img id="page-next" src="img/arrow-right.png" class="page-arrow">
	</a>
	{{ else }}
	<img id="page-previous" src="img/arrow-right.png" class="page-arrow nav-disabled">
	{{ end }}
</div>