<div id="motd-buttons" class="navbar-text text-center">
	{{ if .NextInSection }}
	<a class="nav-arrow" href="{{.NextInSection.Permalink}}">&lt;&lt;</a>
	{{ else }}
	<span class="nav-arrow nav-disabled">&lt;&lt;</span>
	{{ end }}
	
	<!-- Put navigation label into <span> so it doesn't get thrown out on $().load() -->
	<span>{{ ( index $.Site.Data.translations $.Site.Params.locale ).panelNavigation }}</span>
	
	{{ if .PrevInSection }}
	<a class="nav-arrow" href="{{.PrevInSection.Permalink}}">&gt;&gt;</a>
	{{ else }}
	<span class="nav-arrow nav-disabled">&gt;&gt;</span>
	{{ end }}
</div>